
{{ define "content" }}

{{ if .Err }}
<h3 class="text-danger">Error ocured: {{ .Err }}</h3>
{{ else }}

{{ if .Title }}
<div class="row">
    <div class="col-md-12">
        <h2>{{ .Title }}</h2>
        <br />
    </div>
</div>
{{ end }}

{{ range .Vulns }}
<div class="row">
    <div class="col-md-8">
        <a href="/vuln/{{ .Id }}">{{ .Id }} - {{ .Title }}</a>
        <!--<span class="label label-{{ severity .Severity }}">{{ .Severity }}</span>-->
        <!--{{ if .Tags }}-->
        <!--{{ range .Tags }}-->
        <!--<a href="/tag/{{ . }}"><span class="">{{ . }}</span></a>-->
<!---->
        <!--{{ end }}-->
        <!--{{ end }}-->
    </div>

</div>
<!--<div class="row">-->
    <!--<div class="col-md-8">-->
        <!--<span class="label label-{{ severity .Severity }}">{{ .Severity }}</span>-->
    <!--</div>-->
<!--</div>-->
<br />
{{ end }}
{{ end }}

{{ end }}